h1{
    color: brown;
}

p{
    text-align: justify;
}

.topBar{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.lowBar{
    background-color: #f2f2f2;
    padding: 5px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}